<aside class="menu">
    <p class="menu-label">
      {{usuario.Nombre}} {{usuario.Apellido}}
    </p>
    <ul class="menu-list">
      <li><a routerLink='/'>Dashboard</a></li>
    </ul>
    <div class="contenido" *ngFor='let item of sidebarService.menu'>
      <p class="menu-label">
        {{item.titulo}}
      </p>
      <ul class="menu-list">
        <li *ngFor='let subMenuItem of item.submenu'>
          <a routerLinkActive='is-active' [routerLink]="subMenuItem.url">
            {{subMenuItem.titulo}}
          </a>
        </li>
      </ul>
    </div>
</aside>