/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@import url('../node_modules/@creativebulma/bulma-badge/dist/bulma-badge.min.css');
@import url('../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css'); 

$verde : rgb(113, 202, 243);
$purpura: rgb(105, 65, 235);
$verde_claro: rgb(16, 39, 54);
$negro: rgb(39, 39, 39);

$primary:$verde;
$link:$verde_claro;
$info-light:$purpura;

$menu-item-color:$negro;
$menu-label-color :rgb(209, 209, 209);


.title{
  font-family: 'Advent Pro', sans-serif;
}
.mt-5{
  margin-top: 5px;
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/css/bulma.min.css";
@import "../node_modules/bulma/sass/components/menu.sass";